.inner {
    width: 1000px;
    height:500px;
    margin:0 auto;
    background-color: orange;
}
.left {
    width:750px; height:500px;
    float:left;
    background-image: url('./res/chef_about.png');
}
.right{
    width: 250px;
    height:500px;
    float:left;
    background-color: burlywood;
}
img{
    display:block;
}
#top {
    margin-top:30px;
}
#top .top {
    width:210px; height:210px;
    padding:20px;
    margin-top: 250px;
    background-color: #386d0dc8;
    line-height: 20px;
    font-size:15px;
}
#top .top span {
    font-size: 20px; font-weight: 900;
}
#box_all .box {
    width:210px; height:210px; padding:20px;
    background-color: orange;
    float:left;
}
#box_all h1 {
    font-size: 30px; font-weight: 900;
    line-height: 50px;
}
#box_all .box:nth-child(2n+1) {
    background-color: #6e5f4e;
}
#box_all .box_right {
    box-sizing:border-box;
    padding:20px;
}

#footer .footer {
    height:40px;
    background-color: darkgray;
    background-image: url('');
    margin-bottom:30px;
}
#footer .inner {
    height:40px;
}

#footer .footer ul {
    height: 40px;
    padding-left:40px;
}
#footer .footer ul li {
    display:inline-block;
    font-size: 14px;
    line-height: 40px;
    margin:0 5px;
}
#footer .footer ul li:nth-child(2n) {
    font-weight:900; color:orange;
}